*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

/* Navbar */
 #l-bienvenida{
    color: #457B9D;    
}

#l-servicios{
    color:#457B9D !important;
}

#l-contacto{
    color:  #457B9D;
}
.navbar{
    background-color: #a8dadc;
}

.nav-link:hover{
    font-weight: bolder;
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -moz-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -ms-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/*  CUERPO */

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 2.8rem;
    opacity: 1;
    color: #1d3557;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}
h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
img{
    width: 15%;
}
.abajo {
    text-align: center;
    align-items: flex-end;
}
    /* div .landing{
        display: flex;
        align-items: flex-end;
    } */
.landing>h2{
    color: #457b9d;
}
.landing {
 
    /* width: 44vw; */
    /* height: 100vh; */
    overflow: hidden;
    align-self: center;
    margin-top: 1.5rem;

    /* Efecto Fade in */
    -webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -ms-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    /* display: flex;
    flex-flow: column;
    justify-content: space-between; */
}
.sobre-mi{
    font-size: 1.2rem;
}
ul{
    padding-left: 3rem;
    
}
#servicios-list>li{
    list-style: none;
    list-style: mongolian;
}
/* Redes sociales */
.jumbotron{
    background-color: #a8dadc;
    /* margin-left: 8rem; */
} 
#contacto{
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    -moz-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    -ms-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            
}  
.redes{
    text-align: center;
    margin-top: 1.5rem;
}
#iconos{
    font-size: 5rem;
}

/* Footer */
footer {
    margin-top: 2rem;
    padding-top: 1.5rem;
    background-color: #a8dadc;
    padding-bottom: 1.5rem;
}
footer p{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
.fa-whatsapp{
    font-size: 9rem;
    color: green;
}
.fa-facebook{
    font-size: 9rem;
    color: #2962ff;
}
.fa-whatsapp:hover {
    background-color: green;
    color: white;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    -ms-animation: heartbeat 1.5s ease-in-out infinite both;
    -moz-animation: heartbeat 1.5s ease-in-out infinite both;
}
.fa-facebook:hover {
    -webkit-animation: jello-vertical 0.9s both;
    -moz-animation: jello-vertical 0.9s both;
    -ms-animation: jello-vertical 0.9s both;
}

/* Formulario/Consultas */
#contenedor-form{
    align-self: center;
    margin-top: 0.5rem;
}
h3 {
    text-align: center;
    padding: 2rem 2.5rem;
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

label {
    font-family: 'Roboto', sans-serif;
}
input{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
textarea {
    font-family: 'Roboto', sans-serif;
}
input::placeholder{
    font-family: 'Roboto', sans-serif;
}
.fa-arrow-down{
    font-size: 2rem;
}
/* Animaciones */
/* ----------------------------------------------
 * Generated by Animista on 2020-12-12 15:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */

@-webkit-keyframes shadow-pop-tr {
0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -moz-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -ms-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
}
100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -moz-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -ms-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    -moz-transform: translateX(-8px) translateY(8px);
    -ms-transform: translateX(-8px) translateY(8px);    
}
}
@keyframes shadow-pop-tr {
0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}
100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -moz-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -ms-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    -moz-transform: translateX(-8px) translateY(8px);
    -ms-transform: translateX(-8px) translateY(8px);
            
    }
}
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        -moz-transform: scale(0.91);
        -ms-transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        -moz-transform: scale(0.87);
        -ms-transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
}
@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        -moz-transform: scale(0.91);
        -ms-transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        -moz-transform: scale(0.87);
        -ms-transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -ms-animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -ms-animation-timing-function: ease-out;
    }
}
@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -moz-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -moz-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        -moz-transform: scale3d(0.85, 1.15, 1);
        -ms-transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -moz-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -moz-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -moz-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -moz-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        -moz-transform: scale3d(0.85, 1.15, 1);
        -ms-transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -moz-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -moz-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
    }
}  
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        -moz-transform: translateX(-800px) rotate(-540deg);
        -ms-transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        -moz-transform: translateX(0) rotate(0deg);
        -ms-transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        -moz-transform: translateX(-800px) rotate(-540deg);
        -ms-transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        -moz-transform: translateX(0) rotate(0deg);
        -ms-transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-in-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-540deg);
        -moz-transform: translateY(-800px) rotate(-540deg);
        -ms-transform: translateY(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-540deg);
        -moz-transform: translateY(-800px) rotate(-540deg);
        -ms-transform: translateY(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-in-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(540deg);
        -moz-transform: translateY(800px) rotate(540deg);
        -ms-transform: translateY(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-bottom {
    0% {
        -webkit-transform: translateY(800px) rotate(540deg);
        -moz-transform: translateY(800px) rotate(540deg);
        -ms-transform: translateY(800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -ms-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}


 @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
    
      
  
  

/* Media Queries */
/* @media (min-width: 1300px) and (max-width: 1366px){
    .landing{
        width: 36vw;
    }
    #contenedor-form{{
        width: 36vw;
    }
}
@media (min-width: 1200px) and (max-width: 1299px){
    .landing{
        width: 38vw;
    }
    #contenedor-form{{
        width: 38vw;
    }
}
@media (min-width: 1100px) and (max-width: 1199px){
    .landing{
        width: 41.5vw;
    }
}
@media (min-width: 1000px) and (max-width: 1099px){
    .landing{
        width: 45.5vw;
    }
}
@media (min-width: 920px) and (max-width: 999px){
    .landing{
        width: 49.5vw;
    }
}
@media (min-width: 850px) and (max-width: 919px){
    .landing{
        width: 53vw;
    }
}
@media (min-width: 799px) and (max-width: 849px){
    .landing{
        width: 59vw;
    }
}
@media (min-width: 745px) and (max-width: 798px){
    .landing{
        width: 62.5vw;
    }
}
@media (min-width: 705px) and (max-width: 744px){
    .landing{
        width: 67.3vw;
    }
}
@media (min-width: 655px) and (max-width: 704px){
    .landing{
        width: 71.1vw;
    }
}
@media (min-width: 625px) and (max-width: 654px){
    .landing{
        width: 76vw;
    }
}
@media (min-width: 601px) and (max-width: 624px){
    .landing{
        width: 80.5vw;
    }
}
@media (min-width: 570px) and (max-width: 600px){
    .landing{
        width: 83.2vw;
    }
}
@media (min-width: 525px) and (max-width: 569px){
    .landing{
        width: 88vw;
    }
}
@media (min-width: 490px) and (max-width: 524px){
    .landing{
        width: 95vw;
    }
    #contenedor-form{{
        width: 95vw;
    }
}
@media (min-width: 445px) and (max-width: 489px){
    .landing{
        width: 98vw;
    }
    #contenedor-form{{
        width: 98vw;
    }
}
@media (min-width: 1px) and (max-width: 444px){
    .landing{
        width: 100vw;
    }
    #contenedor-form{{
        width: 100vw;
        font-size: 0.8rem;
    }
} */
