*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column wrap;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    opacity: 1;
    color: black;
    align-items: flex-start;
    font-family: 'Xanh Mono', monospace;
}
h5 {
    text-align: center;
    font-family: 'Xanh Mono', monospace;
    font-style: italic;
}
.abajo {
    text-align: center;
    align-items: flex-end;
}
    /* div .landing{
        display: flex;
        align-items: flex-end;
    } */

.landing {
    background-image: url(../images/unknown_pleasures_inverted.jpg);
    /* width: 44vw; */
    height: 100vh;
    overflow: hidden;
    align-self: center;
    margin-top: 1.5rem;
    /* display: flex;
    flex-flow: column;
    justify-content: space-between; */
}

.over-landing{
    /* margin-top: 1.5rem; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    opacity: 0.9;
    background-color: white;
    
    
    /* background-image: url(../images/elgrito_vertical.jpg); */

}
footer {
    padding-top: 5rem;
}
footer p{
    font-size: 1.8rem;
    font-family: 'Source Code Pro', monospace;
}

.fa-whatsapp:hover {
    background-color: green;
    color: white;
    -webkit-animation: wobble-hor-bottom 0.8s ease-out both;
}

/* Animacion */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    -moz-transform: translateX(-30px) rotate(-6deg);
    -ms-transform: translateX(-30px) rotate(-6deg);   
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    -moz-transform: translateX(15px) rotate(6deg);
    -ms-transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    -moz-transform: translateX(-15px) rotate(-3.6deg);
    -ms-transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    -moz-transform: translateX(9px) rotate(2.4deg);
    -ms-transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    -moz-transform: translateX(-6px) rotate(-1.2deg);
    -ms-transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    -moz-transform: translateX(-30px) rotate(-6deg);
    -ms-transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    -moz-transform: translateX(15px) rotate(6deg);
    -ms-transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    -moz-transform: translateX(-15px) rotate(-3.6deg);
    -ms-transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    -moz-transform: translateX(9px) rotate(2.4deg);
    -ms-transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    -moz-transform: translateX(-6px) rotate(-1.2deg);
    -ms-transform: translateX(-6px) rotate(-1.2deg);
  }
}


/* Media Queries */
@media (min-width: 1300px) and (max-width: 1366px){
    .landing{
        width: 36vw;
    }
}
@media (min-width: 1200px) and (max-width: 1299px){
    .landing{
        width: 38vw;
    }
}
@media (min-width: 1100px) and (max-width: 1199px){
    .landing{
        width: 41.5vw;
    }
}
@media (min-width: 1000px) and (max-width: 1099px){
    .landing{
        width: 45.5vw;
    }
}
@media (min-width: 920px) and (max-width: 999px){
    .landing{
        width: 49.5vw;
    }
}
@media (min-width: 850px) and (max-width: 919px){
    .landing{
        width: 53vw;
    }
}
@media (min-width: 799px) and (max-width: 849px){
    .landing{
        width: 59vw;
    }
}
@media (min-width: 745px) and (max-width: 798px){
    .landing{
        width: 62.5vw;
    }
}
@media (min-width: 705px) and (max-width: 744px){
    .landing{
        width: 67.3vw;
    }
}
@media (min-width: 655px) and (max-width: 704px){
    .landing{
        width: 71.1vw;
    }
}
@media (min-width: 625px) and (max-width: 654px){
    .landing{
        width: 76vw;
    }
}
@media (min-width: 601px) and (max-width: 624px){
    .landing{
        width: 80.5vw;
    }
}
@media (min-width: 570px) and (max-width: 600px){
    .landing{
        width: 83.2vw;
    }
}
@media (min-width: 525px) and (max-width: 569px){
    .landing{
        width: 88vw;
    }
}
@media (min-width: 490px) and (max-width: 524px){
    .landing{
        width: 95vw;
    }
}
@media (min-width: 445px) and (max-width: 489px){
    .landing{
        width: 98vw;
    }
}
@media (min-width: 1px) and (max-width: 444px){
    .landing{
        width: 100vw;
    }
}
